* {

    /* Familia de fuentes */
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/

    /* Grosor de la fuente 200 */
    font-weight: 200;
}

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --color-one: #212f3d;
    --color-two: #f0b27a;
}

a {
    text-decoration: none;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.nav-container {
    margin: 0 auto;
    box-sizing: border-box;
    margin-bottom: 50px;
    
}

.main-container {
    box-sizing: border-box;
    margin-bottom: 50px;
}

strong {
    font-weight: bold;
}

/*body-header*/

header {
    display: block;
    unicode-bidi: isolate;
    height: 75vh;
}

header nav {
    background-color: var(--color-one);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 8vh;
}

header nav ul {
    padding-top: 1vh;
    font-size: 1.1rem;
    background-color: var(--color-one);
    display: flex;
    flex-direction: row;
    gap: 1px;
    justify-content: center;
    border-bottom: 3px solid var(--color-two);
}

header nav li {
    padding: 10px;
    flex: 1;
    text-align: center;
    background-color: var(--color-one);
    transition: 1s;
}

header nav li:hover {
    background-color: var(--color-two);
    cursor: pointer;
}

header nav li:hover a {
    color: var(--color-one);
}

header nav ul a {
    display: inline-block;
    width: 100%;
    height: 100%;
    letter-spacing: 1px;
    color: var(--color-two);
    text-decoration: none;
}

li {
    list-style-type: none;
}

#profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50vh;
    gap: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 150px;
    text-align: center;
}

#profile h1 {
    font-size: 2.4rem;
}

#profile p {
    font-size: 1.2rem;
}

#profile img {
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
    box-shadow: 0px 0px 0px 8px var(--color-two);
}

h1 {

    /* Alineación del texto */
    text-align: center;

    /* Grosor de la fuente negrita */
    font-weight: bold;
}

#photo {

    /* Ancho del elemento */
    width: 200px;

    /* Alto del elemento */
    height: auto;

    margin-top: 100px;
}


.subtitle {

    /* Transformación del texto a mayúsculas */
    text-transform: uppercase;

    color: var(--color-two);
    font-weight: bold;
}

/*body-main*/

body {
    margin: 0;
    padding: 0;
    overflow-x: auto;   
}

main {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 20px;
    padding-top: 60px;
    background-color: var(--color-one);
}

.grid-colum {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 80px;
}

#acerca-de-mi {
    display: flex;
    justify-content: center;
    padding: 30px 50px 30px 50px;
}

p {
    text-align: justify;
}

#educacion {
    display: flex;
    justify-content: center;
    padding: 30px 50px 30px 50px;
}

#educacion .grid-colum {
    grid-template-columns: 1fr 2fr;
}

#habilidades img {
    width: 200px;
    height: auto;

}


section {

    /* margen (espacio externo) superior, derecho, abajo e izquierda */
    margin: 4px 2px 8px 2px;

    /* borde de grosor 0.2 en puntos, estilo sólido y color hexadecimal #cedddd  */
    border: 0.2pt solid #cedddd;

    /* relleno (espacio interno) de 
    1.5% en la parte superior e inferior y 
    0.8% a los lados derecho e izquierdo. */

    padding: 1.5% 0.8%;

    /* reemplazan el 0.8% inicial en el relleno izquierdo y derecho, 
    dándoles un valor específico de 1.2% para esos lados. */

    padding-left: 1.2%;
    padding-right: 1.2%;

    background-color: white;
}

section {

    /* borde redondeado con un radio de 5 píxeles */

    /* en navegadores basados en WebKit, 
    como versiones antiguas de Safari y Chrome. */
    -webkit-border-radius: 5px;

    /* en navegadores antiguos de Mozilla, 
    como Firefox.  */
    -moz-border-radius: 5px;

    /* en navegadores modernos. */
    border-radius: 5px;
}

section {

    /* sombra a un elemento */

    -webkit-box-shadow: 3px 3px 1px 0px var(--color-two);
    -moz-box-shadow: 3px 3px 1px 0px var(--color-two);
    box-shadow: 3px 3px 1px 0px var(--color-two);
}


#resumen h2,
#resumen p {
    width: auto;
}

#resumen img {
    max-width: 50%;
}

nav ul {

    /* Modelo de diseño flexible */
    display: flex;
    justify-content: space-around;
}

footer ul {
    margin: 0 auto;
    display: table;
}


/*CONTACTO*/

#contacto {
    text-align: center;
}

#contacto>h2 {
    text-align: center;
}