* {

    /* Familia de fuentes */
    /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/

    /* Grosor de la fuente 200 */
    font-weight: 200;
}

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-color: #000;
    --secondary-color: #f0b27a;
}

a {
    text-decoration: none;
}

header {
    height: 75vh;
}

header nav {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 100;
    margin: auto;
    height: 10vh;
}

header nav ul {
    padding-top: 2vh;
    font-size: 1.2rem;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

header nav li {
    padding: 10px;
    flex: 1;
    text-align: center;
    background-color: white;
    transition: 1s;
}

header nav li:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

header nav li:hover a {
    color: white;
}

header nav ul a {
    display: inline-block;
    width: 100%;
    height: 100%;
    letter-spacing: 1px;
    color: var(--secondary-color);
    text-decoration: none;
}

li {
    list-style-type: none;
}

#basic-information {
    top: 10;
    text-align: center;
}

#basic-information img {
    border-radius: 50%;
    max-width: 250px;
    max-height: 250px;
}


h1 {

    /* Alineación del texto */
    text-align: center;

    /* Grosor de la fuente negrita */
    font-weight: bold;
}

#photo {

    /* Ancho del elemento */
    width: 200px;

    /* Alto del elemento */
    height: auto;
}

.subtitle {

    /* Color del texto en rgba */
    color: rgb(107 114 128 / 0.89);

    /* Transformación del texto a mayúsculas */
    text-transform: uppercase;
}

section {

    /* margen (espacio externo) superior, derecho, abajo e izquierda */
    margin: 4px 2px 8px 2px;

    /* borde de grosor 0.2 en puntos, estilo sólido y color hexadecimal #cedddd  */
    border: 0.2pt solid #cedddd;

    /* relleno (espacio interno) de 
    1.5% en la parte superior e inferior y 
    0.8% a los lados derecho e izquierdo. */

    padding: 1.5% 0.8%;

    /* reemplazan el 0.8% inicial en el relleno izquierdo y derecho, 
    dándoles un valor específico de 1.2% para esos lados. */

    padding-left: 1.2%;
    padding-right: 1.2%;
}

section {

    /* borde redondeado con un radio de 5 píxeles */

    /* en navegadores basados en WebKit, 
    como versiones antiguas de Safari y Chrome. */
    -webkit-border-radius: 5px;

    /* en navegadores antiguos de Mozilla, 
    como Firefox.  */
    -moz-border-radius: 5px;

    /* en navegadores modernos. */
    border-radius: 5px;
}

section {

    /* sombra a un elemento */

    -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
}

#resumen {

    /* Modelo de diseño flexible */
    display: flex;

    /* Distribuye el espacio entre y alrededor
     de los items en el eje principal */
    justify-content: space-evenly;


    /* Alinea los elementos al centro dentro
     del bloque respecto con el eje transversal */
    align-items: center;

    /* Eje principal: por columna */
    flex-direction: column;

    /* Altura de 24% del área de visualización */
    height: 24vh;

    /* Apilamiento de elementos: ajustado 
  hasta ocupar el máximo */
    flex-wrap: wrap;

}

#resumen h2,
#resumen p {
    width: 50%;
}

#resumen img {
    max-width: 50%;
}

nav ul {

    /* Modelo de diseño flexible */
    display: flex;
    justify-content: space-around;
}

footer ul {
    margin: 0 auto;
    display: table;
}


/*CONTACTO*/

#contacto {
    text-align: center;
}

#contacto>h2 {
    text-align: center;
}